@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

button:active,
button:focus {
  box-shadow: none !important;
}

section {
  margin: 1rem 0;
}

.js {
  height: 100vh;
  width: 100vw;
}

.backgrd {
  background-color: #e3f2fd;
}
