@import './variables';

button {
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

section {
  margin: 1rem 0;
}

.js {
  height: 100vh;
  width: 100vw;
}

.backgrd {
  background-color: $homeBackgroundColor;
}
